<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GesEdu</title>

    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:400,700">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-nova.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/cultures/kendo.culture.pt-PT.min.js"></script>
    <script src="~/lib/kendo-ui/js/messages/kendo.messages.pt-PT.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    </head>

    <body>
        <nav class="ig-navbar navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="ig-green-gradient"></div>
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/images/logo.png" />
                </a>
            </div>
        </nav>

        <div id="page-content-wrapper">
            <div class="container-fluid ig-content">
                @RenderBody()
            </div>
            <footer class="col-md-12 ig-footer">
                <div class="row">
                    <div class="ig-logo-left col-sm-6">
                        <img src="~/images/footer/logo-left.png" title="Instituto de Gestão Financeira da Educação" />
                    </div>
                    <div class="ig-logo-right col-sm-6">
                        <img src="~/images/footer/logo-right.png" title="Ministério da Educação" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="ig-copyright">
                            @DateTime.Now.Year.ToString() - Instituto de Gestão Financeira da Educação, IP
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </body>
    </html>
