<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GesEdu</title>

    <link rel="shortcut icon" href="~/images/favicon.svg" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:400,700">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.bootstrap-main.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/cultures/kendo.culture.pt-PT.min.js"></script>
    <script src="~/lib/kendo-ui/js/messages/kendo.messages.pt-PT.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
</head>

<body>
    @await Html.PartialAsync("_navBarPartial")

    <section class="ig-main-container">

        @if (Html.IsAreaView())
        {
            @await Html.PartialAsync("_sideBarPartial")
        }

        <section class="ig-content container">

            @RenderBody()

            <footer class="ig-footer">
                <div class="row">
                    <div class="col-md-auto ig-footer-logos">
                        <div class="row g-4">
                            <div class="col-auto">
                                <img src="~/images/footer/logo_igefe_footer.svg" alt="IGeFE - Instituto de Gestão Financeira da Educação, I.P." title="IGeFE - Instituto de Gestão Financeira da Educação, I.P." />
                            </div>
                            <div class="col-auto">
                                <img src="~/images/footer/logo_meci_footer.svg" alt="República Portuguesa - Educação, Ciência e Inovação" title="República Portuguesa - Educação, Ciência e Inovação" />
                            </div>
                            @if (Html.IsAreaView("SIME"))
                            {
                                <div class="col-auto">
                                    <img src="~/images/footer/logo_dge_footer.png" alt="Direção-Geral da Educação" title="Direção-Geral da Educação">
                                </div>
                                <div class="col-auto">
                                    <img src="~/images/footer/logo_anqep_footer.svg" alt="Agência Nacional para a Qualificação e o Ensino Profissional" title="Agência Nacional para a Qualificação e o Ensino Profissional">
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md ig-copyright-pages">
                        @DateTime.Now.Year — Instituto de Gestão Financeira da Educação, I.P.
                    </div>
                </div>
            </footer>
        </section>
    </section>
    
    @await Html.PartialAsync("_modalContainersPartial")

</body>
</html>
