@model NewUserViewModel

@{
    ViewData["Title"] = "Gerir utilizadores";
}

<div class="ig-pagetitle mb-3">
    <div class="row">
        <div class="col-md">
            <h2>
                @ViewData["Title"]
            </h2>
        </div>
        <div class="col-md-auto text-end">
            <a href="javascript:void(0)" class="btn ig-btn-blue" data-bs-toggle="modal" data-bs-target="#new_user_modal">
                <i class="fa-solid fa-user-plus"></i>
                Novo utilizador
            </a>
        </div>
    </div>
    <div class="d-flex">
        <a href="javascript:void(0)" class="btn ig-btn-back" title="Voltar">
            <i class="fas fa-arrow-left"></i>
        </a>
        <breadcrumb></breadcrumb>
    </div>
</div>
<div class="card ig-card card-body mb-3">
    <div class="row">
        <div class="col-md mb-3">
            <label class="form-label" for="username_search">Nome do utilizador:</label>
            <div class="input-group">
                <input id="username_search" class="form-control" type="text">
                <button id="del_search_btn" class="btn" type="button" title="Limpar"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Estado:</label>
            <select id="is_active_search" class="form-select">
                <option value="">Todos</option>
                <option value="true">Ativo</option>
                <option value="false">Inativo</option>
            </select>
        </div>
        <div class="col-md-auto ig-searchbtn-cont">
            <a href="javascript:void(0)" class="btn ig-btn-green btn-block" onclick="searchUsers()">
                <i class="fas fa-search"></i>
                Pesquisar
            </a>
        </div>
    </div>
</div>

<!--SEARCH RESULT CONTAINER-->
<div class="ig-loadable-div">
    <div id="search_result_container">

    </div>
</div>

<!--NEW USER MODAL-->
<div class="modal fade ig-modal" id="new_user_modal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="your-form-id" asp-antiforgery="true" asp-controller="Users" asp-action="SubmitNewUser" method="post"
                  data-ajax="true"
                  data-ajax-success="dataAjaxSuccess">
                <partial name="_newUserModalPartial" model="Model" />
            </form>
        </div>
    </div>
</div>

<!--USER PERMISSION MODAL-->
<div class="modal fade ig-modal" id="user_permission_modal" tabindex="-1" aria-labelledby="userPermissionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#del_search_btn").on("click", function () {
            $("#username_search").val("");
        });

        searchUsers();
    });

    function dataAjaxSuccess(message) {
        $('#new_user_modal').modal("hide");
        SuccessToast(message);
        searchUsers();
    }

    function searchUsers(pageIndex, pageSize) {
        $.ajax({
            url: '@Url.Action("Search", "Users")',
            type: "POST",
            global: false,
            data: {
                username: $("#username_search").val(),
                isActive: $("#is_active_search").val(),
                pageIndex: pageIndex,
                pageSize: pageSize
            },
            success: function (data) {
                $('#search_result_container').html(data);
            },
            error: function (error) {
                ErrorToast(error.responseJSON.messages);
            },
            beforeSend: ShowDivLoader(),
            complete: HideDivLoader()
        });
    }

    function openPermissionModal(userId) {
        $.ajax({
            url: '@Url.Action("UserPermissionModal", "Users")',
            type: "GET",
            data: {
                userId: userId
            },
            success: function (data) {
                $('#user_permission_modal .modal-content').html(data);
                $('#user_permission_modal').modal('show');
            }
        });
    }
</script>