

@{
    ViewData["Title"] = "Pedido de Exceção à adoção de manuais";
}

@* HEADER *@
<div class="ig-pagetitle mb-3">
    <div class="row">
        <div class="col-md">
            <h2>
                @ViewData["Title"]
            </h2>
        </div>
    </div>
    <breadcrumb></breadcrumb>
</div>