@{
    ViewData["Title"] = "Página inicial MEGA";
}

<div class="ig-pagetitle mb-3">
    <div class="row">
        <div class="col-md">
            <h2>
                @ViewData["Title"]
            </h2>
        </div>
    </div>
    <div class="d-flex">
        <breadcrumb></breadcrumb>
    </div>
</div>
<div class="row">
    <div class="col-md-5" id="ig_schools_list" role="tablist" aria-orientation="vertical">
        <div class="list-group">
            <div class="card ig-card list-group-flush mb-3">
                <a href="javascript:void(0);" id="ig_tab_sc00" data-bs-toggle="pill" data-bs-target="#ig_sc00" type="button" role="tab" aria-controls="ig_sc01" aria-selected="true" class="list-group-item active">
                    <h5 class="mb-0"><i class="fas fa-search"></i> Pesquisar aluna/o</h5>
                </a>
            </div>
            <div class="card ig-card list-group-flush ig-sticky-list mb-3">
                <a href="javascript:void(0);" id="ig_tab_sc01" data-bs-toggle="pill" data-bs-target="#ig_sc01" type="button" role="tab" aria-controls="ig_sc01" aria-selected="false" class="list-group-item">
                    <h5 class="mb-1">
                        <span class="badge rounded-pill ig-uo-code">207573</span>
                        <span class="badge rounded-pill ig-cycle-01">1.º ciclo</span>
                    </h5>
                    <h5 class="mb-0">Escola Básica de Bencatel, Vila Viçosa</h5>
                </a>
                <a href="javascript:void(0);" id="ig_tab_sc02" data-bs-toggle="pill" data-bs-target="#ig_sc02" type="button" role="tab" aria-controls="ig_sc02" aria-selected="false" class="list-group-item">
                    <h5 class="mb-1">
                        <span class="badge rounded-pill ig-uo-code">310074</span>
                        <span class="badge rounded-pill ig-cycle-02">2.º ciclo</span> <span class="badge rounded-pill  ig-cycle-03">3.º ciclo</span>
                    </h5>
                    <h5 class="mb-0"> Escola Básica D. João IV, Vila Viçosa</h5>
                </a>
                <a href="javascript:void(0);" id="ig_tab_woexp_1" data-bs-toggle="pill" data-bs-target="#ig_woexp" type="button" role="tab" aria-controls="ig_woexp" aria-selected="false" class="list-group-item">
                    <h5 class="mb-1">
                        <span class="badge rounded-pill ig-uo-code">637063</span>
                        <span class="badge ig-badge-warning"><i class="fas fa-exclamation-triangle"></i> Sem turmas exportadas</span>
                    </h5>
                    <h5 class="mb-0"> Jardim de Infância de Vila Viçosa</h5>
                </a>
                <a href="javascript:void(0);" id="ig_tab_sc03" data-bs-toggle="pill" data-bs-target="#ig_sc03" type="button" role="tab" aria-controls="ig_sc03" aria-selected="false" class="list-group-item">
                    <h5 class="mb-1">
                        <span class="badge rounded-pill ig-uo-code">284531</span>
                        <span class="badge rounded-pill ig-cycle-01">1.º ciclo</span>
                    </h5>
                    <h5 class="mb-0"><span class="badge rounded-pill ig-uo-code"></span> Escola Básica de Carrascal, Vila Viçosa</h5>
                </a>
                <a href="javascript:void(0);" id="ig_tab_woexp_2" data-bs-toggle="pill" data-bs-target="#ig_woexp" type="button" role="tab" aria-controls="ig_woexp" aria-selected="false" class="list-group-item">
                    <h5 class="mb-1">
                        <span class="badge rounded-pill ig-uo-code">604926</span>
                        <span class="badge ig-badge-warning"><i class="fas fa-exclamation-triangle"></i> Sem turmas exportadas</span>
                    </h5>
                    <h5 class="mb-0">Jardim de Infância de Bencatel, Vila Viçosa</h5>
                </a>
                <a href="javascript:void(0);" id="ig_tab_sc04" data-bs-toggle="pill" data-bs-target="#ig_sc04" type="button" role="tab" aria-controls="ig_sc04" aria-selected="false" class="list-group-item">
                    <h5 class="mb-1">
                        <span class="badge rounded-pill ig-uo-code">401900</span>
                        <span class="badge rounded-pill ig-cycle-03">3.º ciclo</span> <span class="badge rounded-pill ig-cycle-se">Secundário</span>
                    </h5>
                    <h5 class="mb-0"> Escola Secundária Públia Hortênsia de Castro, Vila Viçosa</h5>
                </a>
                <a href="javascript:void(0);" id="ig_tab_sc05" data-bs-toggle="pill" data-bs-target="#ig_sc05" type="button" role="tab" aria-controls="ig_sc05" aria-selected="false" class="list-group-item">
                    <h5 class="mb-1">
                        <span class="badge rounded-pill ig-uo-code">284543</span>
                        <span class="badge rounded-pill ig-cycle-01">1.º ciclo</span>
                    </h5>
                    <h5 class="mb-0"> Escola Básica do Castelo, Vila Viçosa</h5>
                </a>
                <a href="javascript:void(0);" id="ig_tab_sc06" data-bs-toggle="pill" data-bs-target="#ig_sc06" type="button" role="tab" aria-controls="ig_sc06" aria-selected="false" class="list-group-item">
                    <h5 class="mb-1">
                        <span class="badge rounded-pill ig-uo-code">271986</span>
                        <span class="badge rounded-pill ig-cycle-01">1.º ciclo</span>
                    </h5>
                    <h5 class="mb-0">Escola Básica de São Romão, Vila Viçosa</h5>
                </a>
                <a href="javascript:void(0);" id="ig_tab_woexp_3" data-bs-toggle="pill" data-bs-target="#ig_woexp" type="button" role="tab" aria-controls="ig_woexp" aria-selected="false" class="list-group-item">
                    <h5 class="mb-1">
                        <span class="badge rounded-pill ig-uo-code">262134</span>
                        <span class="badge ig-badge-warning"><i class="fas fa-exclamation-triangle"></i> Sem turmas exportadas</span>
                    </h5>
                    <h5 class="mb-0">Jardim de Infância de Pardais, Vila Viçosa</h5>
                </a>
            </div>
        </div>
       
        
    </div>
    <div class="col-md-7 tab-content" id="ig_schools_content">
        <div class="tab-pane fade show active" id="ig_sc00" role="tabpanel" aria-labelledby="ig_tab_sc00">
            <div class="card ig-card card-body mb-3">
                <div class="row">
                    <div class="col-md mb-3">
                        <label class="form-label">Pesquisar aluna/o (por nome ou documento):</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Limpar"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                    <div class="col-md-auto ig-searchbtn-cont">
                        <a href="javascript:void(0)" class="btn ig-btn-green btn-block">
                            <i class="fas fa-search"></i>
                            Pesquisar
                        </a>
                    </div>
                </div>
            </div>
            <div class="card ig-card ig-itemlist">
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md">
                                <h5><a href="#">Joaquim António Almeida Freitas</a></h5>
                                <p class="mb-0">
                                    <span><strong>CAC:</strong> 123456780ZZ0</span>
                                    <span><i class="fas fa-graduation-cap" title="Turma"></i> 7.ºF</span>
                                </p>
                                <p class="mb-0">
                                    <span><i class="fas fa-building-columns" title="Escola"></i> Escola Básica de São Romão, Vila Viçosa</span>
                                </p>
                            </div>
                            <div class="col-md-auto d-flex flex-column align-items-end">
                                <a href="javascript:void(0)" class="btn ig-btn-green mb-1"><i class="fas fa-book"></i> Gerir manuais</a>
                                <a href="javascript:void(0)" class="btn ig-btn-blue"><i class="fas fa-users"></i> Abrir turma</a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md">
                                <h5><a href="#">Joaquim António Almeida Freitas</a></h5>
                                <p class="mb-0">
                                    <span><strong>CAC:</strong> 123456780ZZ0</span>
                                    <span><i class="fas fa-graduation-cap" title="Turma"></i> 7.ºF</span>
                                </p>
                                <p class="mb-0">
                                    <span><i class="fas fa-building-columns" title="Escola"></i> Escola Básica de São Romão, Vila Viçosa</span>
                                </p>
                            </div>
                            <div class="col-md-auto d-flex flex-column align-items-end">
                                <a href="javascript:void(0)" class="btn ig-btn-green mb-1"><i class="fas fa-book"></i> Gerir manuais</a>
                                <a href="javascript:void(0)" class="btn ig-btn-blue"><i class="fas fa-users"></i> Abrir turma</a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md">
                                <h5><a href="#">Joaquim António Almeida Freitas</a></h5>
                                <p class="mb-0">
                                    <span><strong>CAC:</strong> 123456780ZZ0</span>
                                    <span><i class="fas fa-graduation-cap" title="Turma"></i> 7.ºF</span>
                                </p>
                                <p class="mb-0">
                                    <span><i class="fas fa-building-columns" title="Escola"></i> Escola Básica de São Romão, Vila Viçosa</span>
                                </p>
                            </div>
                            <div class="col-md-auto d-flex flex-column align-items-end">
                                <a href="javascript:void(0)" class="btn ig-btn-green mb-1"><i class="fas fa-book"></i> Gerir manuais</a>
                                <a href="javascript:void(0)" class="btn ig-btn-blue"><i class="fas fa-users"></i> Abrir turma</a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md">
                                <h5><a href="#">Joaquim António Almeida Freitas</a></h5>
                                <p class="mb-0">
                                    <span><strong>CAC:</strong> 123456780ZZ0</span>
                                    <span><i class="fas fa-graduation-cap" title="Turma"></i> 7.ºF</span>
                                </p>
                                <p class="mb-0">
                                    <span><i class="fas fa-building-columns" title="Escola"></i> Escola Básica de São Romão, Vila Viçosa</span>
                                </p>
                            </div>
                            <div class="col-md-auto d-flex flex-column align-items-end">
                                <a href="javascript:void(0)" class="btn ig-btn-green mb-1"><i class="fas fa-book"></i> Gerir manuais</a>
                                <a href="javascript:void(0)" class="btn ig-btn-blue"><i class="fas fa-users"></i> Abrir turma</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ig-pagination">
                <div class="col-md align-middle">
                    <p class="ig-grid-record">
                        1 - 3 de 3 registos
                    </p>
                </div>
                <div class="col-md-auto">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mb-0 float-end">
                            <li class="page-item"><a class="page-link" href="javascript:void(0);" title="Anterior"><i class="fas fa-arrow-left"></i></a></li>
                            <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);" title="Seguinte"><i class="fas fa-arrow-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="ig_sc01" role="tabpanel" aria-labelledby="ig_tab_sc01">
            <div class="card ig-card card-body mb-3">
                <h3 class="mb-3"><span class="badge rounded-pill ig-cycle-01">1.º ciclo</span></h3>
                <h4>1.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>2.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>3.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>4.º ano</h4>
                <section class="row g-2 mb-3">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="ig_sc02" role="tabpanel" aria-labelledby="ig_tab_sc02">
            <div class="card ig-card card-body mb-3">
                <h3 class="mb-3"><span class="badge rounded-pill ig-cycle-02">2.º ciclo</span></h3>
                <h4>5.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>5.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>5.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>5.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>5.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>6.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>6.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>6.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>6.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>6.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
            </div>
            <div class="card ig-card card-body mb-3">
                <h3 class="mb-3"><span class="badge rounded-pill ig-cycle-03">3.º ciclo</span></h3>
                <h4>7.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>7.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>7.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>7.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>7.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>8.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>8.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>8.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>8.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>8.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>9.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>9.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>9.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>9.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>9.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="ig_sc03" role="tabpanel" aria-labelledby="ig_tab_sc03">
            <div class="card ig-card card-body mb-3">
                <h3 class="mb-3"><span class="badge rounded-pill ig-cycle-01">1.º ciclo</span></h3>
                <h4>1.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>2.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>3.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>4.º ano</h4>
                <section class="row g-2 mb-3">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="ig_sc04" role="tabpanel" aria-labelledby="ig_tab_sc04">
            <div class="card ig-card card-body mb-3">
                <h3 class="mb-3"><span class="badge rounded-pill ig-cycle-03">3.º ciclo</span></h3>
                <h4>7.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>7.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>7.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>7.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>7.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>8.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>8.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>8.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>8.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>8.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>9.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>9.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>9.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>9.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>9.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
            </div>
            <div class="card ig-card card-body mb-3">
                <h3 class="mb-3"><span class="badge rounded-pill ig-cycle-se">Secundário</span></h3>
                <h4>10.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>10.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>10.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>10.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>10.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>11.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>11.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>11.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>11.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>11.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>12.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>12.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>12.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>12.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>12.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="ig_sc05" role="tabpanel" aria-labelledby="ig_tab_sc05">
            <div class="card ig-card card-body mb-3">
                <h3 class="mb-3"><span class="badge rounded-pill ig-cycle-01">1.º ciclo</span></h3>
                <h4>1.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>2.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>3.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>4.º ano</h4>
                <section class="row g-2 mb-3">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="ig_sc06" role="tabpanel" aria-labelledby="ig_tab_sc06">
            <div class="card ig-card card-body mb-3">
                <h3 class="mb-3"><span class="badge rounded-pill ig-cycle-01">1.º ciclo</span></h3>
                <h4>1.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>1.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>2.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>2.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>3.º ano</h4>
                <section class="row g-2 mb-5">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>3.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
                <h4>4.º ano</h4>
                <section class="row g-2 mb-3">
                    <div class="col-lg-4 col-md-6 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º A</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º B</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º C</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn ig-btn-blue btn-lg d-flex justify-content-between align-items-center">
                            <span>4.º D</span>
                            <span class="ig-classbutton-det"><i class="fas fa-users"></i> 27</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="ig_woexp" role="tabpanel">
            <div class="card ig-card card-body">
                <div class="ig-noresults text-center">
                    <h3><i class="fas fa-search"></i> Sem turmas exportadas</h3>
                    <p class="mb-0">Verifique se está tudo correto na sua aplicação local.</p>
                </div>
            </div>
        </div>
    </div>
</div>
