/*TYPE*/

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/inter-v12-latin/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-700 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/inter-v12-latin/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --ig-font-family: "Inter", Helvetica, Arial, sans-serif;
    --ig-green-1: #007236;
    --ig-green-2: #008d5b;
    --ig-green-3: #83ba9a;
    --ig-green-4: #c9f4db;
    --ig-green-5: #f1ffd9;
    --ig-green-6: #fffff7;
    --ig-blue-1: #284652;
    --ig-blue-2: #3c7685;
    --ig-blue-3: #c1e4e8;
    --ig-blue-4: #e5f5f9;
    --ig-red-1: #7c3939;
    --ig-red-2: #ba5655;
    --ig-red-3: #f1cccc;
    --ig-yellow-1: #7A4A0F;
    --ig-yellow-2: #f8971d;
    --ig-yellow-3: #fee8c3;
    --ig-white: #ffffff;
    --ig-green-1-alpha: #0072360f;
    --ig-green-2-alpha: #008d5c23;
    --ig-blue-1-alpha: #3c768588;
    --ig-grey-form: #ced4da;
    --ig-transition: ease 0.3s;
    --ig-shadow: 0 0 1.5rem rgb(0 0 0 / 13%);
    --ig-focus-shadow: 0 0 0 0.25rem var(--ig-blue-3);
    ;
}

body {
    font-family: var(--ig-font-family);
    background: var(--ig-green-6);
}


/*estilos documentação*/

textarea.form-control.ig-code {
    font-family: 'Consolas', sans-serif;
    background: var(--ig-white);
    border: none;
    overflow-x: auto;
    border-radius: 1rem;
    color: var(--ig-red-2);
    box-shadow: var(--ig-shadow);
    padding: 1rem 1rem;
}

input.ig-code {
    font-family: 'Consolas', sans-serif;
    border-radius: 1rem;
    color: var(--ig-red-2);
}


/*type*/

h1,
h2,
h3 {
    color: var(--ig-blue-1);
    font-weight: 700;
}

h4 {
    color: var(--ig-blue-2);
    font-weight: 700;
    font-size: 1rem;
}

a {
    color: var(--ig-blue-2);
    text-decoration: none;
    transition: var(--ig-transition);
}

a:hover {
    color: var(--ig-blue-1);
    transition: var(--ig-transition);
}

.ig-sidebar {
    background: var(--ig-white);
    box-shadow: var(--ig-shadow);
}

.ig-content {
    padding: 2rem 3rem;
}

/*navbar*/
nav.ig-navbar{
    background: var(--ig-white);
    box-shadow: var(--ig-shadow);
}
.ig-userdet-cont {
    display: inline-block;
    vertical-align: middle;
}
.ig-userdet-cont > span{
    display: block;
}
span.ig-uo-number, span.ig-uo-user {
    font-size: 0.75rem;
    font-weight: 700;
}
span.ig-uo-user{
    text-align:right;
}
.ig-navbar .nav-link {
    border-radius: 1rem;
}
.ig-navbar .nav-link:hover, .ig-navbar .nav-link.show  {
    background: var(--ig-blue-4);
}
span.ig-app-name {
    font-weight: 700;
    color: var(--ig-blue-2);
    margin-left: 1rem;
    padding: 1rem 0 1rem 1rem;
    border-left: solid 1px var(--ig-blue-2);
    vertical-align: middle;
}
/*interface*/

.card.ig-card {
    border: none;
    border-radius: 1rem;
    box-shadow: var(--ig-shadow);
}

.ig-pagetitle {
    background: var(--ig-white);
    border-radius: 1rem;
    box-shadow: var(--ig-shadow);
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
}

.ig-pagetitle:before {
    content: "";
    background: var(--ig-green-2);
    width: 1rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1rem 0 0 1rem;
}

.ig-pagetitle h2 {
    color: var(--ig-blue-2);
}

.ig-pagetitle .breadcrumb {
    font-size: 0.75rem;
    align-items: center;
    margin-bottom: 0;
}

.ig-pagetitle .breadcrumb a {
    color: var(--ig-blue-2);
    text-decoration: none;
}

.ig-pagetitle .breadcrumb a:hover {
    text-decoration: underline;
}

a.ig-btn-back {
    font-size: 0.75rem;
    margin-right: 1rem;
    background: var(--ig-white);
    border-color: var(--ig-blue-2);
    color: var(--ig-blue-2);
    align-items: center;
    padding: 0.125rem 0.36rem;
    text-align: center;
}

.ig-btn-back:hover {
    color: var(--ig-white);
    background: var(--ig-blue-2);
    border-color: var(--ig-blue-2);
}

.ig-btn-back:focus {
    box-shadow: var(--ig-focus-shadow);
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--ig-blue-2);
}
/*alertas*/

.alert {
    border-radius: 1rem;
}

.ig-alert-info {
    background: var(--ig-blue-4);
    border-color: var(--ig-blue-3);
    color: var(--ig-blue-2);
}

.ig-alert-success {
    background: var(--ig-green-4);
    border-color: var(--ig-green-3);
    color: var(--ig-green-1);
}

.ig-alert-warning {
    background: var(--ig-yellow-3);
    border-color: var(--ig-yellow-2);
    color: var(--ig-yellow-1);
}

.ig-alert-error {
    background: var(--ig-red-3);
    border-color: var(--ig-red-2);
    color: var(--ig-red-1);
}


/*Modals*/

.ig-modal .modal-header h5 {
    font-weight: 600;
    color: var(--ig-white);
}

.modal.ig-modal .modal-content {
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0 1px var(--ig-grey-form);
}

.modal.ig-modal .modal-header {
    border-radius: 1rem 1rem 0 0;
}

.ig-modal.ig-modal-confirm .modal-header {
    background: var(--ig-green-2);
    border-color: var(--ig-green-1);
}

.ig-modal.ig-modal-errors .modal-header {
    background: var(--ig-red-2);
    border-color: var(--ig-red-1);
}


/*Toasts*/

.ig-toast-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 1090;
}

.ig-toast-container .toast {
    border-radius: 1rem;
    border: none;
}

.ig-toast-container .toast-header {
    background: transparent;
    border: none;
    padding: 1rem 1rem 0 1rem;
    font-weight: 600;
}

.ig-toast-container .toast-header .btn-close {
    margin-right: 0;
}

.ig-toast-success {
    background: var(--ig-green-4);
    color: var(--ig-green-1);
}

.ig-toast-error {
    background: var(--ig-red-3);
    color: var(--ig-red-1);
}

.ig-toast-container .toast-body {
    padding: .5rem 1rem 1rem 1rem;
}

.ig-toast-success .toast-header {
    color: var(--ig-green-1);
}

.ig-toast-error .toast-header {
    color: var(--ig-red-1);
}


/*Painel estatísticas*/

.ig-statistics-card {
    padding-left: 0.5rem;
    overflow: hidden;
}

.ig-statistics-card h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0;
}

.ig-statistics-card p {
    margin-bottom: 0;
}

.ig-statistics-card .col-md {
    border-right: solid 1px var(--ig-blue-3);
}

.ig-statistics-card .col-md:last-child {
    border-right: none;
}

.ig-statistics-card:before {
    content: "";
    background: var(--ig-blue-2);
    width: 0.5rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1rem 0 0 1rem;
}


/*interface - botões*/

.btn {
    border-radius: 2rem;
    padding: .375rem 1rem;
    font-weight: 600;
}

.input-group .btn {
    border-radius: 0.5rem;
    border-color: var(--ig-grey-form);
    border-left-color: transparent;
    padding: 0.375rem 0.75rem
}

.input-group .btn:hover {
    background: var(--ig-grey-form);
}

.input-group .btn:focus {
    border-color: var(--ig-blue-2);
    box-shadow: var(--ig-focus-shadow);
}

.input-group-text {
    border-radius: 0.5rem;
}

.ig-btn-blue {
    background: var(--ig-white);
    border-color: var(--ig-blue-2);
    color: var(--ig-blue-2);
}

.ig-btn-blue:hover {
    color: var(--ig-white);
    background: var(--ig-blue-2);
    border-color: var(--ig-blue-2);
}

.btn.ig-btn-blue:focus {
    box-shadow: var(--ig-focus-shadow);
}

.ig-btn-green {
    background: var(--ig-green-2);
    border-color: var(--ig-green-2);
    color: var(--ig-white);
}

.ig-btn-green:hover {
    color: var(--ig-white);
    background: var(--ig-green-1);
    border-color: var(--ig-green-1);
}

.btn.ig-btn-green:focus {
    box-shadow: 0 0 0 0.25rem var(--ig-green-4);
}
.ig-btn-green:disabled {
    background: var(--ig-green-3);
    border-color: var(--ig-green-3);
    cursor: not-allowed;
    color: var(--ig-white);
}

/*módulos - interface*/


/*botões homepage*/

.ig-biglink-hp,
.ig-biglink-hp:hover,
.ig-biglink-hp:focus {
    text-decoration: none;
    color: var(--ig-blue-1);
    margin-bottom:1rem;
}

.ig-biglink-hp img {
    width: 100px;
}

.ig-biglink-hp .ig-card {
    transition: var(--ig-transition);
}

.ig-biglink-hp:hover .ig-card,
.ig-biglink-hp:focus .ig-card {
    background: var(--ig-blue-4);
    transition: var(--ig-transition);
    box-shadow: var(--ig-shadow);
}


/*módulos de notícias e lista documentos*/

.ig-hp-news .list-group.list-group-flush {
    max-height: calc(100vh - 460px);
    overflow-y: auto;
}
.list-group h5 {
    color: var(--ig-blue-2);
}

a.list-group-item:hover {
    background: var(--ig-blue-4);
    transition: var(--ig-transition);
    box-shadow: var(--ig-shadow);
}

.list-group-item {
    padding: 1rem;
}

.ig-card .list-group-item {
    border: solid 1px var(--ig-blue-3);
    border-width: 0 0 1px;
}


/*accordion*/

.ig-accordion.accordion-flush {
    box-shadow: var(--ig-shadow);
    border-radius: 1rem;
}

.ig-accordion.accordion-flush .accordion-item:first-of-type .accordion-button,
.ig-accordion.accordion-flush .accordion-item:first-of-type {
    border-radius: 1rem 1rem 0 0 !important;
}

.ig-accordion.accordion-flush .accordion-item:last-of-type .accordion-button,
.ig-accordion.accordion-flush .accordion-item:last-of-type {
    border-radius: 0 0 1rem 1rem !important;
}

.ig-accordion.accordion-flush .accordion-item:last-of-type .accordion-button:not(.collapsed) {
    border-radius: 0 !important;
}

.ig-accordion.accordion-flush .accordion-button:not(.collapsed) {
    background: var(--ig-blue-4);
    color: var(--ig-blue-2);
    font-weight: 700;
    transition: var(--ig-transition);
    box-shadow: inset 0 -1px 0 var(--ig-blue-3);
}

.ig-accordion.accordion-flush .accordion-button:focus {
    border-color: var(--ig-blue-2);
    box-shadow: var(--ig-focus-shadow);
}

.ig-accordion .accordion-button {
    transition: var(--ig-transition);
}

.ig-accordion .accordion-item {
    border-color: var(--ig-blue-4);
    transition: var(--ig-transition);
}

.ig-accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233c7685'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    transform: rotate(-180deg);
}


/*formulários*/

label.form-label {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--ig-blue-2);
}

.ig-searchbtn-cont {
    padding-top: 1.9rem;
}

.ig-search-ddl {
    max-width: fit-content;
}

.form-select,
.form-control {
    border-radius: 0.5rem;
}

.form-select:focus,
.form-control:focus {
    border-color: var(--ig-blue-2);
    box-shadow: var(--ig-focus-shadow);
}


/*grids*/

.table.ig-grid {
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem var(--ig-green-1-alpha);
}

.table.ig-grid thead th {
    background: var(--ig-blue-4);
    color: var(--ig-blue-2);
    border-left: solid 1px var(--ig-white);
    border-bottom: solid 1px var(--ig-blue-2);
    font-size: 0.75rem;
}

.table.ig-grid tbody tr:last-child td {
    border-bottom: none;
}

th.ig-col-shrink {
    width: 1%;
}

.table.ig-grid td {
    border-bottom: solid 1px var(--ig-blue-3);
}

.ig-grid .btn.ig-btn-blue {
    padding: 0.125rem 0.375rem;
}

.ig-grid .btn.ig-btn-blue:hover {
    color: var(--ig-white);
}

.ig-grid tr {
    transition: var(--ig-transition);
}

.ig-grid tr:hover {
    background: var(--ig-green-2-alpha);
    transition: var(--ig-transition);
}

.table.ig-grid tfoot th {
    background: var(--ig-blue-4);
    border-top: solid 1px var(--ig-blue-2);
    border-bottom: none;
}

.ig-pagination {
    font-weight: 600;
    margin-top: 1rem;
}

.ig-grid .ig-pagination {
    margin-top: 0;
}

.ig-pagination a.page-link {
    border-color: transparent;
    background: transparent;
    color: var(--ig-blue-2);
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}

.ig-pagination a.page-link:hover {
    background: var(--ig-blue-3);
}

.ig-pagination a.page-link.active {
    background: var(--ig-blue-2);
    color: var(--ig-white);
}

.ig-pagination .page-item:not(:first-child) a.page-link {
    margin-left: 0.25rem;
}

.ig-pagination .page-item:first-child .page-link,
.ig-pagination .page-item:last-child .page-link {
    border-radius: 0.5rem;
}

.ig-pagination .page-link:focus {
    box-shadow: 0 0 0 0.25rem var(--ig-blue-3);
    border-color: var(--ig-white);
}

.ig-grid a.ig-gridlink {
    color: var(--ig-blue-2);
    text-decoration: none;
    transition: var(--ig-transition);
}

.ig-grid a.ig-gridlink:hover {
    color: var(--ig-blue-1);
    text-decoration: underline;
    transition: var(--ig-transition);
}

.ig-grid-record {
    color: var(--ig-blue-1);
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}


/*Loaders*/

.ig-load {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--ig-blue-1-alpha);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    font-weight: 600;
    color: var(--ig-white);
    justify-content: center;
    cursor: not-allowed;
}

.ig-load span {
    margin-right: 0.5rem;
}

.ig-load.ig-load-body {
    z-index: 9999;
    border-radius: 0;
    position: fixed;
    font-size: 1.5rem;
}

.ig-load.ig-load-body span {
    width: 3rem;
    height: 3rem;
}


/*Separadores*/

.ig-tabs .tab-content.card.ig-card {
    border-top-left-radius: 0;
}

.ig-tabs .nav-tabs {
    border: none;
    border-radius: 1rem 1rem 0 0;
}

.ig-tabs .nav-tabs .nav-link {
    margin-right: 0.25rem;
    border-radius: 1rem 1rem 0 0;
    border: none;
    overflow: hidden;
    color: var(--ig-blue-2);
    position: relative;
    transition: var(--ig-transition);
    padding: 0.75rem 1.25rem;
}

.ig-tabs .nav-tabs .nav-link.active:before {
    content: "";
    height: 0.3rem;
    top: 0;
    width: 100%;
    background: var(--ig-green-1);
    position: absolute;
    left: 0;
}

.ig-tabs .nav-tabs .nav-link.active {
    box-shadow: var(--ig-shadow);
    font-weight: 600;
}

.ig-tabs .nav-tabs .nav-link:hover {
    background: var(--ig-blue-4);
    transition: var(--ig-transition);
}

.ig-tabs .tab-pane {
    transition: var(--ig-transition);
}


/*Listagens*/

.ig-card .list-group-flush,
.ig-card.card>.list-group:last-child,
.ig-card.card>.list-group:last-child {
    border-radius: 1rem;
}

.ig-itemlist h5 {
    font-weight: 600;
}

.ig-itemlist h5 a {
    text-decoration: none;
    color: var(--ig-blue-02);
}

.ig-itemlist h5 a:hover {
    text-decoration: underline;
}

.ig-itemlist p span {
    margin-right: 0.5rem;
    vertical-align: middle;
}

.ig-itemlist .text-end p span {
    margin-right: 0;
    margin-left: 0.5rem;
}

span.badge.ig-badge-success {
    background: var(--ig-green-4);
    border: solid 1px var(--ig-green-3);
    color: var(--ig-green-1);
}

span.badge.ig-badge-error {
    background: var(--ig-red-3);
    border: solid 1px var(--ig-red-2);
    color: var(--ig-red-1);
}

span.badge.ig-badge-warning {
    background: var(--ig-yellow-3);
    border: solid 1px var(--ig-yellow-2);
    color: var(--ig-yellow-1);
}

span.badge {
    border-radius: 0.5rem;
}

.ig-uo-code {
    background: var(--ig-blue-2);
    vertical-align: text-top;
}


/*exemplos*/

.ig-light-font-ex h2 {
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.ig-iconlist h4 {
    min-height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ig-sidemenu-right {
    position: sticky;
    top: 3rem;
    z-index: 1020;
    margin-top: 3rem;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/*Backgrounds cor*/

.ig-color-ex {
    height: 5rem;
    margin-bottom: 2rem;
}

.ig-bk-blue-1 {
    background: var(--ig-blue-1);
}

.ig-bk-blue-2 {
    background: var(--ig-blue-2);
}

.ig-bk-blue-3 {
    background: var(--ig-blue-3);
}

.ig-bk-blue-4 {
    background: var(--ig-blue-4);
}

.ig-bk-green-1 {
    background: var(--ig-green-1);
}

.ig-bk-green-2 {
    background: var(--ig-green-2);
}

.ig-bk-green-3 {
    background: var(--ig-green-3);
}

.ig-bk-green-4 {
    background: var(--ig-green-4);
}

.ig-bk-green-5 {
    background: var(--ig-green-5);
}

.ig-bk-green-6 {
    background: var(--ig-green-6);
}

.ig-bk-yellow-1 {
    background: var(--ig-yellow-1);
}

.ig-bk-yellow-2 {
    background: var(--ig-yellow-2);
}

.ig-bk-yellow-3 {
    background: var(--ig-yellow-3);
}

.ig-bk-red-1 {
    background: var(--ig-red-1);
}

.ig-bk-red-2 {
    background: var(--ig-red-2);
}

.ig-bk-red-3 {
    background: var(--ig-red-3);
}

.ig-bk-greenalpha-1 {
    background: var(--ig-green-1-alpha);
}

.ig-bk-greenalpha-2 {
    background: var(--ig-green-2-alpha);
}

.ig-bk-bluealpha {
    background: var(--ig-blue-1-alpha);
}

/*Formulários*/
/*Validações*/

.ig-card .form-control.is-valid,
.ig-card .was-validated .form-control:valid {
    border-color: var(--ig-green-1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23008d5b' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

.ig-card .form-control.is-valid:focus,
.ig-card .was-validated .form-control:valid:focus,
.ig-card .form-select.is-valid:focus,
.ig-card .was-validated .form-select:valid:focus {
    border-color: var(--ig-green-2);
    box-shadow: 0 0 0 0.25rem var(--ig-green-2-alpha);
}

.ig-card .form-control.is-invalid,
.ig-card .was-validated .form-control:invalid,
.ig-card .form-select.is-invalid,
.ig-card .was-validated .form-select:invalid {
    border-color: var(--ig-red-2);
}

.ig-card .form-control.is-invalid:focus,
.ig-card .was-validated .form-control:invalid:focus {
    border-color: var(--ig-red-1);
    box-shadow: 0 0 0 0.25rem var(--ig-red-3);
}

.ig-card .invalid-feedback {
    color: var(--ig-red-2);
}

.ig-card .form-check-input.is-invalid~.form-check-label,
.ig-card .was-validated .form-check-input:invalid~.form-check-label {
    color: var(--ig-red-2);
}

.ig-card .form-check-input.is-invalid,
.ig-card .was-validated .form-check-input:invalid {
    border-color: var(--ig-red-2);
}

.ig-check .form-check-input:checked {
    background-color: var(--ig-green-2);
    border-color: var(--ig-green-1);
}

.ig-check .form-check-input:focus {
    box-shadow: var(--ig-focus-shadow);
    border-color: var(--ig-blue-2);
}
/*Validações Net Core Forms*/

.ig-field-error {
    color: var(--ig-red-2);
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
}
/*Footer*/

.ig-footer-logos {
    border-top: solid 1px var(--ig-blue-3);
    margin-top:5rem;
    padding:2rem 5rem 0 5rem;
}

.ig-footer-logos img {
    height: 50px;
    -webkit-font-smoothing: antialiased;
}

footer.ig-footer {
    margin-top: 5rem;
}
.ig-copyright {
    color: var(--ig-green-1);
    text-align: center;
    font-size: .875rem;
    margin: 3rem 0;
}
/*Kendo*/
.igk-searchable-ddl span.k-dropdown-wrap {
    border-radius: 0.5rem;
    font-family: Inter, sans-serif;
}

.igk-searchable-ddl.k-combobox .k-select {
    border-radius: 0 0.5rem 0.5rem 0;
}

.igk-searchable-ddl.k-combobox > .k-state-focused {
    border-color: var(--ig-blue-2);
    box-shadow: var(--ig-focus-shadow);
}
.k-list-container .k-nodata {
    font-family: Inter, sans-serif;
    font-weight: normal;
}
.k-list-container, .k-list-container li{
    font-family: Inter, sans-serif;
}
.k-list .k-item.k-state-selected, .k-list-optionlabel.k-state-selected, .k-list .k-item.k-state-hover.k-state-selected, .k-list .k-item:hover.k-state-selected, .k-list-optionlabel.k-state-hover.k-state-selected, .k-list-optionlabel:hover.k-state-selected {
    color: var(--ig-blue-1);
    background-color: var(--ig-blue-4);
}