/*TYPE*/

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/inter-v12-latin/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-700 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/inter-v12-latin/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --ig-font-family: "Inter", Helvetica, Arial, sans-serif;
    --ig-green-1: #007236;
    --ig-green-2: #008d5b;
    --ig-green-3: #83ba9a;
    --ig-green-4: #c9f4db;
    --ig-green-5: #f1ffd9;
    --ig-green-6: #fffff7;
    --ig-green-7: #fffffb;
    --ig-blue-1: #284652;
    --ig-blue-2: #3c7685;
    --ig-blue-3: #c1e4e8;
    --ig-blue-4: #e5f5f9;
    --ig-red-1: #7c3939;
    --ig-red-2: #ba5655;
    --ig-red-3: #f1cccc;
    --ig-yellow-1: #7A4A0F;
    --ig-yellow-2: #f8971d;
    --ig-yellow-3: #fee8c3;
    --ig-white: #ffffff;
    --ig-green-1-alpha: #0072360f;
    --ig-green-2-alpha: #008d5c23;
    --ig-blue-1-alpha: #3c768588;
    --ig-grey-form: #ced4da;
    --ig-grey-form-2: #e4e7eb;
    --ig-transition: ease 0.3s;
    --ig-shadow: 0 0 1.5rem rgb(0 0 0 / 13%);
    --ig-focus-shadow: 0 0 0 0.25rem var(--ig-blue-3);
    --ig-focus-yellow: 0 0 0 0.25rem var(--ig-yellow-3);
    --ig-filter-blue-2: brightness(0) saturate(100%) invert(41%) sepia(23%) saturate(871%) hue-rotate(145deg) brightness(94%) contrast(86%);
}

body {
    font-family: var(--ig-font-family);
    background: var(--ig-green-6);
}


/*estilos documentação*/

textarea.form-control.ig-code {
    font-family: 'Consolas', sans-serif;
    background: var(--ig-white);
    border: none;
    overflow-x: auto;
    border-radius: 1rem;
    color: var(--ig-red-2);
    box-shadow: var(--ig-shadow);
    padding: 1rem 1rem;
}

input.ig-code {
    font-family: 'Consolas', sans-serif;
    border-radius: 1rem;
    color: var(--ig-red-2);
}
iframe.ig-ds-layoutlist {
    height: calc(100vh - 220px);
}

/*type*/

h1,
h2,
h3{
    color: var(--ig-blue-1);
    font-weight: 700;
}
h4{
    font-size:1rem;
}

h4, h5 {
    color: var(--ig-blue-2);
    font-weight: 700;
}
a h4 {
    font-size: 1.25rem;
}
    h5{
        font-size:1rem;
    }
    a {
        color: var(--ig-blue-2);
        text-decoration: none;
        transition: var(--ig-transition);
    }

a:hover {
    color: var(--ig-blue-1);
    transition: var(--ig-transition);
}

.ig-sidebar {
    background: var(--ig-white);
    box-shadow: var(--ig-shadow);
}

.ig-content {
    padding: 2rem 3rem;
}

/*navbar*/
nav.ig-navbar {
    background: var(--ig-white);
    box-shadow: var(--ig-shadow);
    z-index: 10;
    position:sticky;
    top:0;
}
.ig-userdet-cont {
    display: inline-block;
    vertical-align: middle;
}
.ig-userdet-cont > span{
    display: block;
}
span.ig-uo-number, span.ig-uo-user {
    font-size: 0.75rem;
    font-weight: 700;
}
span.ig-uo-user{
    text-align:right;
}
.ig-navbar .nav-link {
    border-radius: 1rem;
}
.ig-navbar .nav-link:hover, .ig-navbar .nav-link.show  {
    background: var(--ig-blue-4);
}
span.ig-app-name {
    font-weight: 700;
    color: var(--ig-blue-2);
    margin-left: 1rem;
    padding: 1rem 0 1rem 1rem;
    border-left: solid 1px var(--ig-blue-2);
    vertical-align: middle;
}
/*sidebar*/
.ig-main-container .ig-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: width 0.3s ease;
    min-height: calc(100vh - 120px);
}

.ig-main-container {
    display: flex;
    flex-direction: inherit;
}
section.ig-main-menu {
    z-index: 5;
    width: 5rem;
    background: var(--ig-white);
    box-shadow: var(--ig-shadow);
    height: 100%;
}
.ig-main-menu hr {
    margin: 0.5rem 0;
}
.ig-menulink img {
    padding: 0.25rem 0.5rem;
    width: 100%
}
nav.ig-sidebar-menu {
    position: sticky;
    top: 74px;
    height: calc(100vh - 74px);
}
.ig-submenu {
    background: var(--ig-green-7);
    box-shadow: var(--ig-shadow);
    height: 100%;
    width: 200px;
}
.ig-submenu li.active a{
    font-weight:bold;
}
.ig-submenu .tab-pane {
    width: 15rem;
}
.ig-menulink {
    text-align:center;
    padding: 0.25rem;
    font-size: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0.25rem;
    background: transparent;
}
.ig-menulink.active, .ig-menulink.active:hover, .ig-menulink.active:focus {
    background: var(--ig-green-2-alpha);
}

.ig-menulink:hover, .ig-menulink:focus {
    background: var(--ig-green-1-alpha);
}
.ig-submenu li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.ig-submenu ul {
    padding: 1rem;
}
.ig-submenu .accordion-body ul {
    padding: 0;
}
.ig-submenu .accordion-button {
    font-weight: bold;
    color: var(--ig-blue-2);
}
.ig-submenu .accordion-button:not(.collapsed) {
    color: var(--ig-blue-2);
    background-color: var(--ig-green-1-alpha);
}
.ig-submenu .accordion-button:focus {
    border-color: var(--ig-blue-2);
    box-shadow: var(--ig-focus-shadow);
}
li.ig-menutitle {
    padding-top: 2rem;
    
}
li.ig-menutitle h4 {
    color: var(--ig-green-1);
}
.ig-submenu .accordion-button::after{
    filter:var(--ig-filter-blue-2);
}
.ig-video-accordion iframe {
    width: 100%;
    height: 400px;
}
/*interface*/
.card.ig-card {
    border: none;
    border-radius: 1rem;
    box-shadow: var(--ig-shadow);
}

.ig-pagetitle {
    background: var(--ig-white);
    border-radius: 1rem;
    box-shadow: var(--ig-shadow);
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
}

.ig-pagetitle:before {
    content: "";
    background: var(--ig-green-2);
    width: 1rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1rem 0 0 1rem;
}

.ig-pagetitle h2 {
    color: var(--ig-blue-2);
}

.ig-pagetitle .breadcrumb {
    font-size: 0.75rem;
    align-items: center;
    margin-bottom: 0;
}

.ig-pagetitle .breadcrumb a {
    color: var(--ig-blue-2);
    text-decoration: none;
}

.ig-pagetitle .breadcrumb a:hover {
    text-decoration: underline;
}

a.ig-btn-back {
    font-size: 0.75rem;
    margin-right: 1rem;
    background: var(--ig-white);
    border-color: var(--ig-blue-2);
    color: var(--ig-blue-2);
    align-items: center;
    padding: 0.125rem 0.36rem;
    text-align: center;
}

.ig-btn-back:hover {
    color: var(--ig-white);
    background: var(--ig-blue-2);
    border-color: var(--ig-blue-2);
}

.ig-btn-back:focus {
    box-shadow: var(--ig-focus-shadow);
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--ig-blue-2);
}
/*colunas*/
.col-auto.ig-cauto-205{
    width:205px;
}
/*alertas*/

.alert {
    border-radius: 1rem;
}

.ig-alert-info {
    background: var(--ig-blue-4);
    border-color: var(--ig-blue-3);
    color: var(--ig-blue-2);
}

.ig-alert-success {
    background: var(--ig-green-4);
    border-color: var(--ig-green-3);
    color: var(--ig-green-1);
}

.ig-alert-warning {
    background: var(--ig-yellow-3);
    border-color: var(--ig-yellow-2);
    color: var(--ig-yellow-1);
}

.ig-alert-error {
    background: var(--ig-red-3);
    border-color: var(--ig-red-2);
    color: var(--ig-red-1);
}
/*Wizard*/

span.ig-stepnum {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    background: var(--ig-blue-3);
    color: var(--ig-white);
    font-weight: bold;
    line-height: 2.5rem;
    border-radius: 1.25rem;
    font-size: 1.25rem;
    vertical-align: middle;
    flex-shrink: inherit;
}

.ig-step {
    display: flex;
    margin-right: 2rem;
    padding-bottom: 0.5rem;
    align-items:center;
}

.ig-insc-steps {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

span.ig-stepname {
    font-weight: bold;
    padding-left: 0.5rem;
    color: var(--ig-blue-3);
}

.ig-step.ig-stepactive .ig-stepnum {
    background: var(--ig-blue-2);
}

.ig-stepactive span.ig-stepname {
    color: var(--ig-blue-2);
}

/*Modals*/
.ig-modal .modal-header {
    background: var(--ig-blue-2);
}
.ig-modal .modal-header h5 {
    font-weight: 600;
    color: var(--ig-white);
}

.modal.ig-modal .modal-content {
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0 1px var(--ig-grey-form);
}

.modal.ig-modal .modal-header {
    border-radius: 1rem 1rem 0 0;
}

.ig-modal.ig-modal-confirm .modal-header {
    background: var(--ig-green-2);
    border-color: var(--ig-green-1);
}

.ig-modal.ig-modal-errors .modal-header {
    background: var(--ig-red-2);
    border-color: var(--ig-red-1);
}


/*Toasts*/

.ig-toast-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 1090;
}

.ig-toast-container .toast {
    border-radius: 1rem;
    border: none;
}

.ig-toast-container .toast-header {
    background: transparent;
    border: none;
    padding: 1rem 1rem 0 1rem;
    font-weight: 600;
}

.ig-toast-container .toast-header .btn-close {
    margin-right: 0;
}

.ig-toast-success {
    background: var(--ig-green-4);
    color: var(--ig-green-1);
}

.ig-toast-error {
    background: var(--ig-red-3);
    color: var(--ig-red-1);
}

.ig-toast-container .toast-body {
    padding: .5rem 1rem 1rem 1rem;
}

.ig-toast-success .toast-header {
    color: var(--ig-green-1);
}

.ig-toast-error .toast-header {
    color: var(--ig-red-1);
}


/*Painel estatísticas*/

.ig-statistics-card {
    padding-left: 1.5rem;
    overflow: hidden;
    flex-grow: 0;
}

.ig-statistics-card h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0;
}

.ig-statistics-card p {
    margin-bottom: 0;
}

.ig-statistics-card .col-md {
    border-right: solid 1px var(--ig-blue-3);
}

.ig-statistics-card .col-md:last-child {
    border-right: none;
}

.ig-statistics-card:before {
    content: "";
    background: var(--ig-blue-2);
    width: 0.5rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1rem 0 0 1rem;
}


/*interface - botões*/

.btn {
    border-radius: 2rem;
    padding: .375rem 1rem;
    font-weight: 600;
}

.input-group .btn {
    border-radius: 0.5rem;
    border-color: var(--ig-grey-form);
    border-left-color: transparent;
    padding: 0.375rem 0.75rem
}

.input-group .btn:hover {
    background: var(--ig-grey-form);
}

.input-group .btn:focus {
    border-color: var(--ig-blue-2);
    box-shadow: var(--ig-focus-shadow);
}

.input-group-text {
    border-radius: 0.5rem;
}

.ig-btn-blue {
    background: var(--ig-white);
    border-color: var(--ig-blue-2);
    color: var(--ig-blue-2);
}

.ig-btn-blue:hover {
    color: var(--ig-white);
    background: var(--ig-blue-2);
    border-color: var(--ig-blue-2);
}
button.btn.ig-btn-blue:disabled, button.btn.ig-btn-blue:disabled:hover {
    border-color: var(--ig-blue-3);
    cursor: not-allowed !important;
    color: var(--ig-blue-3);
    background: var(--ig-white);
    opacity: 1;
    pointer-events: inherit;
}
.btn.ig-btn-blue:focus {
    box-shadow: var(--ig-focus-shadow);
}

.ig-btn-green {
    background: var(--ig-green-2);
    border-color: var(--ig-green-2);
    color: var(--ig-white);
}

.ig-btn-green:hover {
    color: var(--ig-white);
    background: var(--ig-green-1);
    border-color: var(--ig-green-1);
}

.btn.ig-btn-green:focus {
    box-shadow: 0 0 0 0.25rem var(--ig-green-4);
}
.ig-btn-green:disabled {
    background: var(--ig-green-3);
    border-color: var(--ig-green-3);
    cursor: not-allowed;
    color: var(--ig-white);
}
a.ig-collapse-link {
    font-weight: bold;
    text-decoration: none;
    color: var(--ig-blue-2);
    font-size:0.75rem;
}
a.ig-collapse-link:hover {
    text-decoration:underline
}
a.ig-collapse-link.collapsed i {
    transform: rotate(0);
}

a.ig-collapse-link i {
    transform: rotate(180deg);
}
/*módulos - interface*/


/*botões homepage*/

.ig-biglink-hp,
.ig-biglink-hp:hover,
.ig-biglink-hp:focus {
    text-decoration: none;
    color: var(--ig-blue-1);
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-grow: 1;
    min-height: 0;
}
.ig-biglink,
.ig-biglink:hover,
.ig-biglink:focus {
    margin-bottom: 0;
}

.ig-biglink-hp img, .ig-biglink img {
    height: 100%;
    max-height: 100px;
    display: flex;
    margin-right: 1rem;
}

.ig-biglink-hp .ig-card, .ig-biglink .ig-card {
    transition: var(--ig-transition);
    height: 100%;
    width: 100%;
}
.ig-biglink-hp:hover .ig-card,
.ig-biglink-hp:focus .ig-card,
.ig-biglink:hover .ig-card,
.ig-biglink:focus .ig-card {
    background: var(--ig-blue-4);
    transition: var(--ig-transition);
    box-shadow: var(--ig-shadow);
}
a.ig-biglink-hp .card .card-body,
a.ig-biglink .card .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
a.ig-biglink p {
    color: var(--bs-body-color);
}

.ig-homebtn-cont {
    height: calc(100vh - 367px);
    flex-direction: column;
    display: flex;
}
.ig-homebtn-txt p{
    margin-bottom:0;
}
.ig-biglink-hp:last-child {
    margin-bottom: 0;
}
/*módulos de notícias e lista documentos*/

.ig-hp-news .list-group.list-group-flush {
    max-height: calc(100vh - 425px);
    overflow-y: auto;
}
.ig-hp-news.ig-ds-changelog .list-group.list-group-flush {
    max-height: calc(100vh - 220px);
}
.list-group h5 {
    color: var(--ig-blue-2);
}

a.list-group-item:hover {
    background: var(--ig-green-2-alpha);
    transition: background var(--ig-transition);
    box-shadow: var(--ig-shadow);
}

.list-group-item {
    padding: 1rem;
    transition: background var(--ig-transition);
}

.ig-card .list-group-item {
    border-color: var(--ig-blue-3);
}
a.list-group-item.active, a.list-group-item:active:hover {
    background: var(--ig-blue-4);
}
.ig-card .list-group-item.active p {
    color: var(--bs-list-group-color)
}
.ig-sticky-list {
    position: sticky;
    top: 90px;
    max-height: calc(100vh - 7rem);
    overflow-y: auto;
}

/*accordion*/

.ig-accordion.accordion-flush {
    box-shadow: var(--ig-shadow);
    border-radius: 1rem;
}

.ig-accordion.accordion-flush .accordion-item:first-of-type .accordion-button,
.ig-accordion.accordion-flush .accordion-item:first-of-type {
    border-radius: 1rem 1rem 0 0 !important;
}

.ig-accordion.accordion-flush .accordion-item:last-of-type .accordion-button,
.ig-accordion.accordion-flush .accordion-item:last-of-type {
    border-radius: 0 0 1rem 1rem !important;
}

.ig-accordion.accordion-flush .accordion-item:last-of-type .accordion-button:not(.collapsed) {
    border-radius: 0 !important;
}

.ig-accordion.accordion-flush .accordion-button:not(.collapsed) {
    background: var(--ig-blue-4);
    color: var(--ig-blue-2);
    font-weight: 700;
    transition: var(--ig-transition);
    box-shadow: inset 0 -1px 0 var(--ig-blue-3);
}

.ig-accordion.accordion-flush .accordion-button:focus {
    border-color: var(--ig-blue-2);
    box-shadow: var(--ig-focus-shadow);
}

.ig-accordion .accordion-button {
    transition: var(--ig-transition);
}

.ig-accordion .accordion-item {
    border-color: var(--ig-blue-4);
    transition: var(--ig-transition);
}

.ig-accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233c7685'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    transform: rotate(-180deg);
}


/*formulários*/

label.form-label {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--ig-blue-2);
}

.ig-searchbtn-cont {
    padding-top: 1.9rem;
}

.ig-search-ddl {
    max-width: fit-content;
}

.form-select,
.form-control {
    border-radius: 0.5rem;
}

.form-select:focus,
.form-control:focus {
    border-color: var(--ig-blue-2);
    box-shadow: var(--ig-focus-shadow);
}


/*grids*/

.table.ig-grid {
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem var(--ig-green-1-alpha);
    
}
.ig-loadable-div .table.ig-grid {
    /*min-height: 50vh;*/
    margin-bottom: 0;
}

.table.ig-grid thead th {
    background: var(--ig-blue-4);
    color: var(--ig-blue-2);
    border-left: solid 1px var(--ig-white);
    border-bottom: solid 1px var(--ig-blue-2);
    font-size: 0.75rem;
}

.table.ig-grid tbody tr:last-child td {
    border-bottom: none;
}

th.ig-col-shrink {
    width: 1%;
}
th.ig-th-4rem{
    width:4rem;
}

.table.ig-grid td {
    border-bottom: solid 1px var(--ig-blue-3);
    vertical-align: middle;
}


.ig-grid .btn.ig-btn-blue:hover {
    color: var(--ig-white);
}

.ig-grid tr {
    transition: var(--ig-transition);
}

.ig-grid tr:hover {
    background: var(--ig-green-2-alpha);
    transition: var(--ig-transition);
}

.table.ig-grid tfoot th {
    background: var(--ig-blue-4);
    border-top: solid 1px var(--ig-blue-2);
    border-bottom: none;
    padding: 1rem;
}
table.ig-grid .ig-noresults{
    padding:1rem;
}
.ig-pagination {
    font-weight: 600;
}

.ig-grid .ig-pagination {
    margin-top: 0;
}

.ig-pagination a.page-link {
    border-color: transparent;
    background: transparent;
    color: var(--ig-blue-2);
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}

.ig-pagination a.page-link:hover {
    background: var(--ig-blue-3);
}

.ig-pagination li.page-item.active a {
    background: var(--ig-blue-2);
    color: var(--ig-white);
}
.ig-pagination li.page-item.disabled {
    opacity: 0.4;
    pointer-events: none;
}
.ig-pagination .page-item:not(:first-child) a.page-link {
    margin-left: 0.25rem;
}

.ig-pagination .page-item:first-child .page-link,
.ig-pagination .page-item:last-child .page-link {
    border-radius: 0.5rem;
}

.ig-pagination .page-link:focus {
    box-shadow: 0 0 0 0.25rem var(--ig-blue-3);
    border-color: var(--ig-white);
}
.ig-card .list-group-item.ig-item-pagination {
    background: var(--ig-blue-4);
    border-top: solid 1px var(--ig-blue-2);
    margin-top: -1px;
}

.ig-grid a.ig-gridlink {
    color: var(--ig-blue-2);
    text-decoration: none;
    transition: var(--ig-transition);
}

.ig-grid a.ig-gridlink:hover {
    color: var(--ig-blue-1);
    text-decoration: underline;
    transition: var(--ig-transition);
}

.ig-grid-record {
    color: var(--ig-blue-1);
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}


/*Loaders*/

.ig-load {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--ig-blue-1-alpha);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    font-weight: 600;
    color: var(--ig-white);
    justify-content: center;
    cursor: not-allowed;
    
}

.ig-load span {
    margin-right: 0.5rem;
}

.ig-load.ig-load-body {
    z-index: 9999;
    border-radius: 0;
    position: fixed;
    font-size: 1.5rem;
}

.ig-load.ig-load-body span {
    width: 3rem;
    height: 3rem;
}
.ig-loadable-div, .ig-loadable-div .ig-card{
    position: relative;
}
.ig-load-placeholder{
    height:400px;
}
.ig-loadable-div{
    min-height:6rem;
}
/*Separadores*/
.ig-tabs .tab-content.card.ig-card {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}
.ig-tabs .card-body {
    border-radius: 1rem;
    background: var(--ig-white);
    box-shadow: var(--ig-shadow);
}
.ig-tabs > .tab-content.card.ig-card > .card-body:first-child {
    border-radius: 0 1rem 1rem 1rem;
}

.ig-tabs .nav-tabs {
    border: none;
    border-radius: 1rem 1rem 0 0;
}

.ig-tabs .nav-tabs .nav-link {
    margin-right: 0.25rem;
    border-radius: 1rem 1rem 0 0;
    border: none;
    overflow: hidden;
    color: var(--ig-blue-2);
    position: relative;
    transition: var(--ig-transition);
    padding: 0.75rem 1.25rem;
}

.ig-tabs .nav-tabs .nav-link.active:before {
    content: "";
    height: 0.3rem;
    top: 0;
    width: 100%;
    background: var(--ig-green-1);
    position: absolute;
    left: 0;
}

.ig-tabs .nav-tabs .nav-link.active {
    box-shadow: var(--ig-shadow);
    font-weight: 600;
}

.ig-tabs .nav-tabs .nav-link:hover {
    background: var(--ig-blue-4);
    transition: var(--ig-transition);
}

.ig-tabs .tab-pane {
    transition: var(--ig-transition);
}
.ig-2line-tabheader {
    max-width: 9rem;
    min-height: 6.5rem;
}
.ig-tabs a.nav-link.active:after, .ig-tabs a.nav-link.active:focus::after {
    content: "";
    width: 100%;
    position: absolute;
    background: #ffffff;
    height: 2rem;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: var(--ig-transition);
}
.ig-tabs a.nav-link.active *, .ig-tabs a.nav-link.active:focus * {
    z-index: 2;
    position: relative;
}
.ig-tabs a.nav-link.active:hover::after{
    background:var(--ig-blue-4);
    transition:var(--ig-transition);
}
.ig-tabs a.nav-link.active:focus {
    isolation: unset;
}

/*Listagens*/

.ig-card .list-group-flush,
.ig-card.card>.list-group:last-child,
.ig-card.card>.list-group:last-child {
    border-radius: 1rem;
}

.ig-itemlist h5 {
    font-weight: 600;
}

.ig-itemlist h5 a {
    text-decoration: none;
    color: var(--ig-blue-02);
}

.ig-itemlist h5 a:hover {
    text-decoration: underline;
}

.ig-itemlist p span {
    margin-right: 0.5rem;
    vertical-align: middle;
}

.ig-itemlist .text-end p span {
    margin-right: 0;
    margin-left: 0.5rem;
}

span.badge.ig-badge-success {
    background: var(--ig-green-4);
    border: solid 1px var(--ig-green-3);
    color: var(--ig-green-1);
}

span.badge.ig-badge-error {
    background: var(--ig-red-3);
    border: solid 1px var(--ig-red-2);
    color: var(--ig-red-1);
}

span.badge.ig-badge-warning {
    background: var(--ig-yellow-3);
    border: solid 1px var(--ig-yellow-2);
    color: var(--ig-yellow-1);
}

span.badge {
    border-radius: 0.5rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
    span.badge.ig-cycle-01 {
        background: var(--ig-blue-4);
        border: solid 1px var(--ig-blue-3);
        color: var(--ig-blue-2);
    }
    span.badge.ig-cycle-02 {
        background: var(--ig-green-4);
        border: solid 1px var(--ig-green-3);
        color: var(--ig-green-2);
    }
    span.badge.ig-cycle-03 {
        background: var(--ig-yellow-3);
        border: solid 1px var(--ig-yellow-2);
        color: var(--ig-yellow-1);
    }
    span.badge.ig-cycle-se {
        background: var(--ig-red-3);
        border: solid 1px var(--ig-red-2);
        color: var(--ig-red-1);
    }

.ig-uo-code, .ig-id-code {
    background: var(--ig-blue-2);
}
.ig-user-permissions, .ig-blue-badge {
    background: var(--ig-blue-4);
    border: solid 1px var(--ig-blue-3);
    color: var(--ig-blue-2);
    display: inline-block;
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-top;
}

.ig-psmall{
    font-size:0.75rem;
}
/*exemplos*/
.ig-light-font-ex h2 {
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.ig-iconlist h4 {
    min-height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ig-sidemenu-right {
    position: sticky;
    top: 3rem;
    z-index: 1020;
    margin-top: 3rem;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/*Backgrounds cor*/

.ig-color-ex {
    height: 5rem;
    margin-bottom: 2rem;
}

.ig-bk-blue-1 {
    background: var(--ig-blue-1);
}

.ig-bk-blue-2 {
    background: var(--ig-blue-2);
}

.ig-bk-blue-3 {
    background: var(--ig-blue-3);
}

.ig-bk-blue-4 {
    background: var(--ig-blue-4);
}

.ig-bk-green-1 {
    background: var(--ig-green-1);
}

.ig-bk-green-2 {
    background: var(--ig-green-2);
}

.ig-bk-green-3 {
    background: var(--ig-green-3);
}

.ig-bk-green-4 {
    background: var(--ig-green-4);
}

.ig-bk-green-5 {
    background: var(--ig-green-5);
}

.ig-bk-green-6 {
    background: var(--ig-green-6);
}

.ig-bk-yellow-1 {
    background: var(--ig-yellow-1);
}

.ig-bk-yellow-2 {
    background: var(--ig-yellow-2);
}

.ig-bk-yellow-3 {
    background: var(--ig-yellow-3);
}

.ig-bk-red-1 {
    background: var(--ig-red-1);
}

.ig-bk-red-2 {
    background: var(--ig-red-2);
}

.ig-bk-red-3 {
    background: var(--ig-red-3);
}

.ig-bk-greenalpha-1 {
    background: var(--ig-green-1-alpha);
}

.ig-bk-greenalpha-2 {
    background: var(--ig-green-2-alpha);
}

.ig-bk-bluealpha {
    background: var(--ig-blue-1-alpha);
}

/*Formulários*/
/*Validações*/

.ig-card .form-control.is-valid,
.ig-card .was-validated .form-control:valid {
    border-color: var(--ig-green-1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23008d5b' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

.ig-card .form-control.is-valid:focus,
.ig-card .was-validated .form-control:valid:focus,
.ig-card .form-select.is-valid:focus,
.ig-card .was-validated .form-select:valid:focus {
    border-color: var(--ig-green-2);
    box-shadow: 0 0 0 0.25rem var(--ig-green-2-alpha);
}

.ig-card .form-control.is-invalid,
.ig-card .was-validated .form-control:invalid,
.ig-card .form-select.is-invalid,
.ig-card .was-validated .form-select:invalid {
    border-color: var(--ig-red-2);
}

.ig-card .form-control.is-invalid:focus,
.ig-card .was-validated .form-control:invalid:focus {
    border-color: var(--ig-red-1);
    box-shadow: 0 0 0 0.25rem var(--ig-red-3);
}

.ig-card .invalid-feedback {
    color: var(--ig-red-2);
}

.ig-card .form-check-input.is-invalid~.form-check-label,
.ig-card .was-validated .form-check-input:invalid~.form-check-label {
    color: var(--ig-red-2);
}

.ig-card .form-check-input.is-invalid,
.ig-card .was-validated .form-check-input:invalid {
    border-color: var(--ig-red-2);
}

.ig-check .form-check-input:checked {
    background-color: var(--ig-green-2);
    border-color: var(--ig-green-1);
}

.ig-check .form-check-input:focus {
    box-shadow: var(--ig-focus-shadow);
    border-color: var(--ig-blue-2);
}
.ig-check.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23c9f4db'/%3e%3c/svg%3e");
}
.form-switch.ig-switch-reverse {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 0;
}
.form-switch.ig-switch-reverse .form-check-input {
    margin-left: 0.5em;
}
/*Validações Net Core Forms*/

.ig-field-error {
    color: var(--ig-red-2);
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
}
/*Footer*/

footer.ig-footer {
    padding: 4rem 0 2rem 0;
    margin-top: auto;
}
.ig-footer-logos img {
    height: 2rem;
    -webkit-font-smoothing: antialiased;
}

.ig-copyright {
    color: var(--ig-green-1);
    text-align: center;
    font-size: .875rem;
    margin: 3rem 0;
}
.ig-copyright-pages {
    display: flex;
    align-items: center;
    text-align: right;
    color: var(--ig-green-1);
    font-size: .875rem;
    justify-content: end;
}
/*Kendo*/
.igk-searchable-ddl{
    width:100%;
}
.igk-searchable-ddl span.k-dropdown-wrap {
    border-radius: 0.5rem;
    font-family: Inter, sans-serif;
    background: var(--ig-white);
    border-color: var(--ig-grey-form);
}
.igk-searchable-ddl span.k-dropdown-wrap.k-state-disabled {
    background: var(--ig-grey-form-2);
    opacity: 0.6;
    cursor: not-allowed;
}
.igk-searchable-ddl.k-combobox .k-select {
    border-radius: 0 0.5rem 0.5rem 0;
}

.igk-searchable-ddl.k-combobox > .k-state-focused {
    border-color: var(--ig-blue-2);
    box-shadow: var(--ig-focus-shadow);
}

.k-list-container .k-nodata {
    font-family: Inter, sans-serif;
    font-weight: normal;
}
.k-list-container, .k-list-container li, .k-list-optionlabel {
    font-family: Inter, sans-serif;
}
.k-list .k-item.k-state-selected, .k-list-optionlabel.k-state-selected, .k-list .k-item.k-state-hover.k-state-selected, .k-list .k-item:hover.k-state-selected, .k-list-optionlabel.k-state-hover.k-state-selected, .k-list-optionlabel:hover.k-state-selected {
    color: var(--ig-blue-1);
    background-color: var(--ig-blue-4);
}
/*MEGA*/
/*PG Inicial - escolha escolas*/

span.ig-classbutton-det {
    font-size: 1rem;
    font-weight: normal;
}

/*SIME*/
/*Tabelas apreciação*/

ol.ig-bookappreciation-description {
    padding-left: 2rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

    ol.ig-bookappreciation-description li {
        display: block;
        white-space: normal;
    }

.ig-bookappreciation-description span {
    margin-left: -2rem;
    margin-right: 0.5rem;
    width: 1.5rem;
    text-align: right;
    display: inline-block;
}

.ig-bookappreciation-description ul {
    padding-left: 2.5rem;
}
/*Estimativas*/
input[type="number"].ig-studentestimate-field, input[type="number"].ig-studentestimate-update {
    -moz-appearance: textfield;
}
.ig-studentestimate-field::-webkit-outer-spin-button, .ig-studentestimate-field::-webkit-inner-spin-button, .ig-studentestimate-update::-webkit-outer-spin-button, .ig-studentestimate-update::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ig-studentestimate-update.is-invalid {
    border-color: var(--ig-yellow-2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23f8971d'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23f8971d' stroke='none'/%3e%3c/svg%3e");
}
.ig-studentestimate-update.is-invalid:focus {
    box-shadow: var(--ig-focus-yellow);
    border-color: var(--ig-yellow-2);
}
input[type="number"].ig-studentestimate-field {
    min-width: 5rem;
}
input[type="number"].ig-studentestimate-update{
    min-width: 7rem;
}

