@{
    ViewData["Title"] = "SIME-MEGA";
}
<div>
    <div class="ig-pagetitle mb-3">
                <div class="row">
                    <div class="col-md">
                        <h2>
                            SIME-MEGA
                        </h2>
                    </div>
                </div>
                <div class="d-flex">
            <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">

                    <div class="row">
                        <div class="col-md mb-3">
                            <div class="card ig-card h-100">
                                <div class="card-body">
                                    <h3>Apreciação de manuais</h3>
                                    <p class="mb-2">
                                        <span class="badge ig-badge-neutral">
                                            <i class="fas fa-book"></i> 45 manuais apreciados
                                        </span>
                                    </p>
                                    <a href="#" class="btn ig-btn-blue"><i class="fas fa-book"></i> Apreciar manuais</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mb-3">
                            <div class="card ig-card  h-100">
                                <div class="card-body">
                                    <h3>Adoções de anos anteriores</h3>
                                    <p class="mb-1">
                                        <span class="badge ig-badge-warning">
                                            <i class="fas fa-exclamation-triangle"></i> 26 manuais com estimativas por atualizar
                                        </span>
                                        <!--NOTA DB: Não mostrar caso não exista-->
                                        <span class="badge ig-badge-neutral">
                                            <i class="fas fa-ban"></i> 3 manuais a não adquirir
                                        </span>
                                    </p>

                                    <a href="#" class="btn ig-btn-blue"><i class="fas fa-book"></i> Ver lista de manuais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card ig-card mb-3">
                        <div class="card-body">
                            <h3>Novas adoções</h3>
                            <div class="row">
                                <div class="col-md">
                                    <label class="form-label">2.º ano (Ens. Regular)</label>
                            <p class="mb-1">
                                <span class="badge ig-badge-warning">
                                    <i class="fas fa-exclamation-triangle"></i> 3 manuais por adotar
                                </span>
                            </p>
                                    <p class="mb-1">Todas as disciplinas</p>
                                   
                                </div>
                                <div class="col-md">
                                    <label class="form-label">6.º ano (Ens. Regular)</label>
                            <p class="mb-1">
                                <span class="badge ig-badge-success">
                                    <i class="fas fa-check"></i> Todos os manuais adotados
                                </span>
                            </p>
                                    <p class="mb-1">Todas as disciplinas exceto Matemática</p>
                                   
                                </div>
                                <div class="col-md">
                                    <label class="form-label">11.º ano (Ens. Regular)</label>
                            <p class="mb-1">
                                <span class="badge ig-badge-warning">
                                    <i class="fas fa-exclamation-triangle"></i> 3 manuais por adotar
                                </span>
                            </p>
                                    <p class="mb-1">Matemática A, Matemática B e MACS</p>
                                    
                                </div>
                                <div class="col-md">
                                    <label class="form-label">Ensino Profissional</label>
                            <p class="mb-1">
                                <span class="badge ig-badge-warning">
                                    <i class="fas fa-exclamation-triangle"></i> 12 manuais por adotar
                                </span>
                            </p>
                                    <p class="mb-1">Todas as disciplinas</p>
                                    
                                </div>
                            </div>
                            <a href="#" class="btn ig-btn-blue"><i class="fas fa-book"></i> Novas adoções</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md mb-3">
                            <div class="card ig-card h-100">
                                <div class="card-body">
                                    <h3>Manuais adaptados</h3>
                                    <p class="mb-1">
                                        <span class="badge ig-badge-neutral">
                                            <i class="fas fa-users"></i> 3 pedidos efetuados
                                        </span>
                                    </p>
                                    <p class="mb-2">
                                        Peça manuais adaptados para os alunos com necessidades educativas especiais da sua unidade orgânica.
                                    </p>
                                    <a href="#" class="btn ig-btn-blue"><i class="fas fa-book"></i> Manuais adaptados</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mb-3">
                            <div class="card ig-card  h-100">
                                <div class="card-body">
                                    <h3>Pedidos de exceção</h3>
                                    <p class="mb-1">
                                        <span class="badge ig-badge-warning">
                                            <i class="fas fa-history"></i>
                                            1 pedido(s) por aprovar
                                        </span>
                                        
                                        <span class="badge ig-badge-success">
                                            <i class="fas fa-check"></i>
                                            2 pedido(s) aprovado(s)
                                        </span>
                                    </p>
                                    <p class="mb-2">
                                        Peça uma exceção à adoção de manuais na sua unidade orgânica à Direção Geral da Educação.
                                    </p>
                                    <a href="#" class="btn ig-btn-blue"><i class="far fa-file-alt"></i> Pedidos de exceção</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-5">
                        <div class="card ig-card mb-3">
                            <div class="card-body">
                                <h4>Suporte</h4>
                                <p>Esclareça as suas dúvidas sobre o SIME-MEGA, através da resposta a perguntas frequentes e dos vídeos de demonstração.</p>
                                <a href="#" class="btn ig-btn-blue"><i class="fas fa-circle-info"></i> Consultar suporte</a>
                            </div>
                        </div>
                        <div class="card ig-card mb-3">
                            <div class="card-body">
                                <h4>Manuais disponíveis</h4>
                                <p>Consulte os manuais disponíveis para adoção na sua unidade orgânica.</p>
                                <button class="btn ig-btn-blue dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-book"></i> Ver manuais disponíveis
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">1.º ciclo</a></li>
                                    <li><a class="dropdown-item" href="#">2.º ciclo</a></li>
                                    <li><a class="dropdown-item" href="#">3.º ciclo</a></li>
                                    <li><a class="dropdown-item" href="#">Secundário</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="card ig-card">
                            <div class="card-body">
                                <h4>Listas de manuais adotados</h4>
                                <p class="mb-0">
                                    <span class="badge ig-badge-warning">
                                        <i class="fas fa-exclamation-triangle"></i> 26 manuais com estimativas por atualizar
                                    </span>
                                </p>
                                <p>Atualize as estimativas em falta na página <strong>Adoções de anos anteriores</strong> para disponibilizar a lista de manuais adotados da sua unidade orgânica.</p>
                                <a href="#" class="btn ig-btn-blue"><i class="fas fa-arrows-rotate"></i> Atualizar estimativas</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
   
</div>