@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Escolher UO";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-7">
        <div class="ig-card card card-body">
            <div class="row justify-content-center">
                <div class="col-5 mt-3 mb-5 text-center">
                    <img class="img-fluid" src="~/images/logo.svg">
                </div>
            </div>
            <h4>Escolha a Unidade Orgânica:</h4>
            <div class="mb-3">
                <label class="form-label">Unidade Orgânica</label>
                <input id="uo_combobox" style="width: 100%" />
            </div>
            <div class="text-end">
                <input type="button" class="btn ig-btn-green" value="Confirmar UO" onclick="ConfirmUO()" disabled />
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#uo_combobox").kendoComboBox({
            dataTextField: "nome_text_field",
            dataValueField: "cod_agrupamento",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "@Url.Action("GetUo", "Authentication")"
                    }
                }
            },
            change: function (e) {
                $(".btn").prop('disabled', (this.selectedIndex == -1));
            }
        });
    });

    function ConfirmUO() {
        var obj = $("#uo_combobox").data("kendoComboBox").dataItem();

        $.ajax({
            type: "POST",
            url: "@Url.Action("SetUo", "Authentication")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj),
            success: function (response) {
                window.location.href = response;
            },
            error: function (error) {
                console.log(error);

                ShowErrorModal(error.responseJSON);
            }
        });
    }
</script>